*.pyc
*.egg*
local.py
*.db
dist/
_build/
build/
.tox/
/reports/
*/static/CACHE/
*.swp
*.DS_Store
htmlcov/
.coverage
node_modules
.project
.idea/
example_project/__pycache__/
example_project/settings/__pycache__/
timepiece/__pycache__/
