*.pyc
*.egg*
local.py
*.db
dist/
_build/
build/
.tox/
/reports/
*/static/CACHE/
*.swp
*.DS_Store
htmlcov/
.coverage
node_modules
.project
.idea/
django_timepiece_ERD.png
cover
.env
*__pycache__*
example_project/static/
